// mixins
//------------------------------------
@import "mixins/util.less";
@import "mixins/css3.less";
@import "mixins/grid.less";
@import "mixins/position.less";

// ui foundation
//------------------------------------
@import "vars/_colors.less";
@import "vars/_variables.less";
@import "fonts.less";


// 3rd party libs
//------------------------------------

// cross browser css reset
//------------------------------------
@import "normalize.less";

// scaffolding
//------------------------------------

*,
*:before,
*:after {
  #css3 > .box-sizing(border-box);
}

html{
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: @sans;
  font-size: @body-font-size;
}

// conveniences
//------------------------------------
.centered{ #util > .center-block(); }
.text-center{ text-align: center; }
.horizontal-box{ 
  #util > .clearfix();
  > *{
    #util > .horizontal-box-item(10px);
  }
}

// the core html ui elements
//------------------------------------
@import "elements.less";

// imports components
//------------------------------------

// imports for individual pages or templates
//------------------------------------